@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    /*Medidas Absolutas 
    cm, mm, in, px, pt, pc

    Medidas Relativas
    em, ex, rem, vw, vh, % 
    16px = 1em*/
    font-size: 16px ;
    font-style: italic;
    text-decoration: underline;

}
h1,h2{
    font-family: 'Times New Roman', Times, serif;
}